@using Microsoft.AspNetCore.SignalR.Client
@using SignalRxoGame.shared

@if(myRoom != null)
{
    <h3>Room : @myRoom.RoomName</h3>
    if (myRoom.players.Count < 2)
    {
        <h3> you can't play this game with ypur self please wait for another player </h3>
    }
}

@if(!myRoom.myGame.GameStart && myRoom.myGame.xPlayerConId != myPlayerId && myRoom.players.Count == 2)
{
    <h3>you must wait for your next player to start :)</h3>
}

@if (myRoom.myGame.GameOver && !myRoom.myGame.GameDraw)
{
    <h1>Gmae over</h1>
    <h2>Winner is @myRoom.myGame.winnerId</h2>
}

@if (!myRoom.myGame.GameOver && myRoom.myGame.GameDraw)
{
    <h1>Gmae over</h1>
    <h2>No winner game draw</h2>
}


@if ((!myRoom.myGame.GameStart || myRoom.myGame.GameOver)
&& myRoom.myGame.xPlayerConId == myPlayerId && myRoom.players.Count == 2)
{
    <button @onclick="StartGame">Start Game</button>
}

@if (myRoom.myGame.GameStart)
{
    <h3>the game @myRoom.RoomName on the run</h3>
    <h2> @myRoom.myGame.currentSympol is on the game </h2>
    <h4> X Player is @myRoom.players[0].name </h4>
    <h4> O Player is @myRoom.players[1].name </h4>

    <table class="xogame">
        @for(int r =0; r< 3; r++)
        {
            <tr>
                @for(int c =0; c < 3; c++)
                {
                    var _r = r;
                    var _c = c;
                    <td @onclick="() => PlayMove(_r, _c)">
                        @myRoom.myGame.GameBoard[_r][_c]
                    </td>
                }
            </tr>
        }
    </table>

    @if (!myTurn() && !myRoom.myGame.GameOver)
    {
        <h1>please wait ............</h1>
    }

}


@code {
    [Parameter]
    public GameRoom? myRoom { get; set; }

    [CascadingParameter]
    public HubConnection? hubCon {get; set;}

    private string? myPlayerId;

    protected override async Task OnInitializedAsync()
    {
        if (myRoom == null || hubCon == null || hubCon.ConnectionId == null)
        {
            return;
        }

        myPlayerId = hubCon.ConnectionId;

        hubCon.On<Player>("NewPlayerJoined", Player =>
        {
            myRoom.players.Add(Player);
            StateHasChanged();
        });

        hubCon.On<GameRoom>("GameUpdate", updatedRoom =>
        {
            myRoom = updatedRoom;
            StateHasChanged();
        });
    }

    public async Task StartGame()
    {
        if (myRoom == null || hubCon == null || hubCon.ConnectionId == null)
        {
            return;
        }
        await hubCon.InvokeAsync("StartGame", myRoom.RoomId);
    }

    public async Task PlayMove(int row, int col)
    {
        if(myTurn() && myRoom != null && myRoom.myGame.GameStart && !myRoom.myGame.GameOver
           && hubCon != null
        )
        {
            await hubCon.InvokeAsync("PlayMove", myRoom.RoomId, row, col, myPlayerId);
        }
    }

    private bool myTurn()
    {
        if (myRoom is not null)
        {
            return myPlayerId == myRoom.myGame.CurrentPlayerId;
        }
        return false;
    }
}
